h1{
   padding-left: 10px;
    padding-top: 10px;
    color: #FFFFFF;
}

.display-4{
    font-weight: 400;
    text-align: center;
    font-size: 3.5vw;
}

.display-3{
    font-weight: 500;
    text-align: center;
    font-size: 4.5vw;
}

.breadcrumb{
    background-color: #00bfa5;
    margin-bottom: 0px;
}

#indexhead{
    margin-top: 0px;
    font-size: 45px;
    background-color: #00bfa5aa;
    padding-top: 10px;
    padding-bottom: 20px;
}

.jumbotron{
    background-color: transparent;
}

.list-group-item{
  font-size: 3vw
}

h4{
    padding: 3vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-weight: normal;
    font-size: 3.5vw;
}

.container{
  margin-bottom: 25px
}

.row{
    padding: 20px;
}

.card{

    background-color: #00bfa588;
    margin: 1.5vw;
}

.lead{
    font-weight: normal;
}

#desp{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    font-size: large;
}

#footer{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    background-color: #00bfa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

#startbody{
    background-color: transparent;
    background-image: url(HackerRank_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#startH1{
    background-color: #00bfa5aa;
    padding-top: 10px;
    padding-bottom: 20px;
}

.btn{
    background-color: #00bfa5;
    border: #00bfa5;
}

.card-body{
    text-align: end;

}

.card-title{
    text-align: left;
}
