h1{
    padding-left: 10px;
    padding-top: 10px;
}

.display-4{
    font-weight: 400;
    text-align: center;
}

.jumbotron{
    background-color: transparent;
    background-image: url(HackerRank_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h4{
    padding: 10px;
    padding-bottom: 20px;
    text-align: justify;
    font-weight: normal;
}

body{
    background-color: #00bfa5;
}

.row{
    padding: 20px;
}

.card{
    background-color: #FFFFCC;
}

.lead{
    font-weight: normal;
}

#desp{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
    font-size: large;
}

#footer{
    padding-top: 60px;
    text-align: center;
    padding-bottom: 20px;
    font-size: small;
}

#startBody{
    background-color: #e9ecef;
}