h1{
   padding-left: 10px;
    padding-top: 10px;
    color: #FFFFFF;  
}

.display-4{
    font-weight: 400;
    text-align: center;
}

h4{
    padding: 10px;
    padding-bottom: 20px;
    text-align: justify;
    font-weight: normal;
}

body{
    background-color: #4b0082;
}

.row{
    padding: 20px;
}

.card{
    background-color: #E0FFFF;
}
